In [1]:
import pandas as pd

In [2]:
url = 'https://storage.googleapis.com/kagglesdsdata/datasets/8385511/13229155/earthquake_data_tsunami.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20251014%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20251014T141837Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=7242fa1492a77cc2c95dcb82a36469d7f2250af202e4952429032527cfa8298a8cdd20b7bcf424a2c28bdb190e77865629fa9d264a7e73facbbac05ca0bc77a2f4f8f3927618e326288fecd65c9c97875b4ffc71c86ea62682384e48a1447cad81933e5267506128776577b508d5505e055a588f6138934f0726a08a90f0a426eed041975afb332f1ec02986ba8e6be1d409b5235b8c802cede9a946637ec61020ff4f879a73282e2b41d1e73a2ff364a147649d24fcd02e6d886522674f59a48a37daa8bd84832e44cd1d290320178ef6a619f175e44899129f29d71f1c74d8a547b5bdea0fd177cc84384bd018b059d1e1b1329e04b4b27d308755744c774a'

In [7]:
df = pd.read_csv('../data/earthquake_data_tsunami.csv')

In [8]:
df.to_csv('earthquake_data_tsunami.csv', index=False)

In [10]:
df

,magnitude,cdi,mmi,sig,nst,dmin,gap,depth,latitude,longitude,Year,Month,tsunami
0,7.0,8,7,768,117,0.509,17.0,14.000,-9.7963,159.596,2022,11,1
1,6.9,4,4,735,99,2.229,34.0,25.000,-4.9559,100.738,2022,11,0
2,7.0,3,3,755,147,3.125,18.0,579.000,-20.0508,-178.346,2022,11,1
3,7.3,5,5,833,149,1.865,21.0,37.000,-19.2918,-172.129,2022,11,1
4,6.6,0,2,670,131,4.998,27.0,624.464,-25.5948,178.278,2022,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,7.7,0,8,912,427,0.000,0.0,60.000,13.0490,-88.660,2001,1,0
778,6.9,5,7,745,0,0.000,0.0,36.400,56.7744,-153.281,2001,1,0
779,7.1,0,7,776,372,0.000,0.0,103.000,-14.9280,167.170,2001,1,0
780,6.8,0,5,711,64,0.000,0.0,33.000,6.6310,126.899,2001,1,0
781,7.5,0,7,865,324,0.000,0.0,33.000,6.8980,126.579,2001,1,0

In [11]:
df.columns

Index(['magnitude', 'cdi', 'mmi', 'sig', 'nst', 'dmin', 'gap', 'depth',
       'latitude', 'longitude', 'Year', 'Month', 'tsunami'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   magnitude  782 non-null    float64
 1   cdi        782 non-null    int64
 2   mmi        782 non-null    int64
 3   sig        782 non-null    int64
 4   nst        782 non-null    int64
 5   dmin       782 non-null    float64
 6   gap        782 non-null    float64
 7   depth      782 non-null    float64
 8   latitude   782 non-null    float64
 9   longitude  782 non-null    float64
 10  Year       782 non-null    int64
 11  Month      782 non-null    int64
 12  tsunami    782 non-null    int64
dtypes: float64(6), int64(7)
memory usage: 79.6 KB

In [14]:
df.isnull().sum().sum()

np.int64(0)

In [13]:
df.duplicated().sum()

np.int64(0)